.toast-container {
  position: fixed !important;
  bottom: 15px;
  z-index: 9999 !important;
  pointer-events: auto !important;
}

.toast-container.ar {
  right: 5px;
}

.toast-container.en {
  left: 5px;
}

.toast-item {
  width: fit-content !important;
  white-space: nowrap;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  animation: slideIn 0.3s ease-out;
  -webkit-animation: slideIn 0.3s ease-out;
}

.toast-content.success {
  color: #4caf50;
}

.progress-toast.success {
  background-color: #4caf50;
}

.toast-content.error {
  color: #f44336;
  margin: 0 !important;
}

.progress-toast.error {
  background-color: #f44336;
}

.progress-toast {
  height: 3px;
  animation: progressAnimation 10s linear;
  -webkit-animation: progressAnimation 10s linear;
}

@keyframes progressAnimation {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .toast-container {
    top: 130px;
  }
}
