@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.form {
  background:
    linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%),
    url("../../../Assets/form.jpg") center/cover no-repeat;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.form-custom label,
.form-custom input {
  display: block;
}

.form-custom input {
  padding: 12px;
  outline: none;
  border-radius: 8px !important;
  border: 0;
  border-bottom: 4px solid transparent;
  box-shadow: 0 0 5px rgb(153, 152, 152);
  transition: 0.3s;
  margin-bottom: 27px;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}

.form-custom label {
  position: absolute;
  color: gray;
  top: -24px;
  left: 0;
  font-size: 13px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.form-custom.ar label {
  right: 0;
  color: rgb(80, 77, 77);
}

.form-custom input:focus {
  box-shadow: 0 0 5px rgb(153, 152, 152);
}

.form-custom input:focus:valid {
  border-color: green;
}

.form-custom input:focus:not(:valid) {
  border-color: orangered;
}

.form-custom input:placeholder-shown + label {
  top: 0;
  z-index: -1;
}

/* btn */

.btn-Auth {
  padding: 10px 0 !important;
  transition: 0.3s !important;
}

.btn-Auth:hover {
  scale: 103%;
}

.google-btn {
  width: fit-content;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
  transition: 0.3s;
}

.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
  box-shadow: 0 0 6px #1669f2;
}

.google-btn .google-icon-wrapper {
  width: 40px;
  border-radius: 2px;
}

.google-btn .google-icon {
  width: 18px;
  height: 18px;
}

.google-btn .btnGoogle-text {
  float: right;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}