/* Global Rules */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scrollbar-color: #e1b070 #fffdfd;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  /* color: #e5c293; */
}

body {
  font-family: "Lato", sans-serif;
}

.image-gallery-image {
  height: 250px ;
  object-fit: cover; 
}

.h-screen {
  min-height: calc(100vh - 132px);
}

.row {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.row .col-12 {
  width: 100%;
}

.row .col-6 {
  width: 50%;
}

.cursor-pointer {
  cursor: pointer;
}

.text-succes {
  color: rgb(27, 243, 27) ;
}

.text-cancle {
  color: rgb(154, 14, 14);
}
